@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center hero-image   ">

    <img src="C:\Users\denis\source\repos\InstitutoUrquiza\Images\bg.png" style="z-index:-10" />

    <h1 class="display-4">¡Bienvenidos a Instituto Urquiza!</h1>
    <p>El mejor lugar en Villa Urquiza para aprender y practicar Acrobacia Aérea, con profesores particulares y las mejores instalaciones.</p>



    <button class="btn btn-secondary btn-lg btn-block" style="width: 500px;">  Agendar Clase</button>


    <button>Gestionar Clases</button>


    <button>Gestionar Profes</button>


    <button>Gestionar Alumnas/os</button>

    

</div>




