@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenidos a Instituto Urquiza!</h1>
    <p>El mejor lugar en Villa Urquiza para aprender y practicar Acrobacia Aérea.</p>
</div>
