@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <img src="\imgs\BienvenidesCorto.png" style="z-index:-10; width: 100%; position:relative" />

    @*<h1 class="display-4">¡Bienvenidos a Instituto Urquiza!</h1>
    <p>El mejor lugar en Villa Urquiza para aprender y practicar Acrobacia Aérea, con profesores particulares y las mejores instalaciones.</p>*@

    <div class="my-5 text-center">

        <form asp-area="" asp-controller="Clases" asp-action="Create"> <button class="btn btn-info btn-lg" style="width: 400px;">  
            <span class="h2"> Agendar clase </span></button> </form>

    </div>

    <div class="d-flex justify-content-around">


        <form asp-area="" asp-controller="Clases" asp-action="Index"> <button class="fs-3 btn btn-danger btn-lg">Gestionar Clases</button> </form>


        <form asp-area="" asp-controller="Profesores" asp-action="Index"> <button class="fs-3 btn btn-danger btn-lg">Gestionar Profes</button> </form>


        <form asp-area="" asp-controller="Estudiantes" asp-action="Index">  <button class="fs-3 btn btn-danger btn-lg">Gestionar Alumnas/os</button> </form>

    </div>

</div>




