@{
    ViewData["Title"] = "Home Page";
}

<div class="text-info text-center">



    <h2 class="display-4"><b>¡Bienvenid@s a Instituto Urquiza!</b></h2>
    <p><h4>El mejor lugar en Villa Urquiza para aprender y practicar Acrobacia Aérea,
        <br>
        con clases individuales y las mejores instalaciones.</h4></p>
    <br>
    <img src="\imgs\Picture4.jpg" style="z-index:-10; width: 55%; position:relative" />
   <br><br>

    <div class="my-4 text-center">


        <form asp-area="" asp-controller="Clases" asp-action="Create">
            <button class="btn btn-info btn-lg" style="width: 350px;">
                <span class="h3"> Agendar nueva clase </span>
            </button>
        </form>

    </div>

    <div class="d-flex justify-content-around">


      
        
        <form asp-area="" asp-controller="Clases" asp-action="Index"> <button class="fs-3 btn btn-outline-info btn-lg"  style="width: 300px;"> <span class="h4"> Gestionar Clases </span></button> </form>
       

        <form asp-area="" asp-controller="Profesores" asp-action="Index"> <button class="fs-3 btn btn-outline-info btn-lg"  style="width: 300px;" ><span class="h4"> Gestionar Profes</span></button> </form>


        <form asp-area="" asp-controller="Estudiantes" asp-action="Index">  <button class="fs-3 btn btn-outline-info btn-lg"  style="width: 300px;" ><span class="h4">Gestionar Estudiantes</span></button> </form>

    </div>

</div>




